.sheetboard {
    height: 100%;
    width: 100%;
    padding: 20px;
}

.sheetboard thead {
    margin-bottom: 10px;
}

.sheetboard_row {
    display: flex;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #B8CBD0;
}

.clickable {
    cursor: pointer;
}

.sheetboard_content {
    background: white;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
}

.sheetboard_content:first-child {
    flex: 0 0 60px;
    background: white;
}

.sheetboard_content:nth-child(2) {
    flex: 0 0 95px;
    background: white;
    margin-right: 20px;
}

.sheetboard_content:nth-child(n+3) {
    flex: 1;
}

.editableCell {
    white-space: pre-wrap;
    word-wrap: break-word;
    min-height: 20px;
    padding: 5px;
}