@import '@/styles/index.scss';

.sheetboard {
    height: 100%;
    width: 100%;
    background: #EDF0F4;
    padding: 20px;
}

.sheetboard thead {
    margin-bottom: 10px;
}

.sheetboard_row {
    display: flex;
    width: 100%;
    border-radius: 5px; 
    margin-bottom: 10px;
    overflow: hidden;
}

.sheetboard_content {
    background: white;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
}

.sheetboard_content:first-child {
    flex: 0 0 60px;
    background: rgb(186 186 186);
    pointer-events: none;
}
 
.sheetboard_content:nth-child(2) {
    flex: 0 0 95px;
    background: rgb(186 186 186);
    border-radius:  0 5px 5px 0;
    margin-right: 20px;
    pointer-events: none;
}

.sheetboard_content:nth-child(3) {
    border-radius: 5px 0 0 5px;
}

.sheetboard_content:nth-child(n+3) {
    flex: 1;
}